.webdesignbaner {
  width: 100%;
  top: -190px;
  text-transform: capitalize;
  color: var(--clr-ligh);

  .webdesignbaner-card {
    background-color: var(--clr-radish);
    padding: 4em;
    border-radius: 1em;
    justify-content: center;
    gap: 1em;
    box-shadow: var(--bs);
    .webdesignbaner-card__descrip {
      max-width: 500px;
      font-size: 1rem;
      font-size: clamp(0.75rem, calc(3vw+1rem), 1rem);
      font-weight: var(--fw-ligh);
    }
    .webdesignbaner-card--btn {
      flex-shrink: 0;
    }
  }
}
